:root {
  --switch-width: 200px;
  --switch-height: 130px;
  --circle-size: 110px;
  --circle-padding: 3px;
  --circle-bg: rgb(242, 220, 220);
  --circle-on-bg: rgb(208, 249, 218);
  --switch-bg: #e60f0f;
  --switch-on-bg: #15c126;
}

.h{
    font-size: 100px;
}


.switch {
  position: relative;
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.switch {
  width: var(--switch-width);
  height: var(--switch-height);
  border-radius: 100px;
  cursor: pointer;
  background: var(--switch-bg);
  display: flex;
  position: relative;
  align-items: center;
  transition: all 0.5s;
}

.switch::before {
  content: "";
  display: block;
  background: var(--circle-bg);
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 50%;
  position: absolute;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  left: var(--circle-padding);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch {
  background: var(--switch-on-bg);
}

.switch-input:checked + .switch::before {
  background: var(--circle-on-bg);
  left: calc(
    (var(--switch-width) - var(--circle-size)) - var(--circle-padding)
  );
}

body {
  background: #3e1143;
  font-family: "scandia";
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}